{:source-paths ["src"]
 :dependencies [[cider/cider-nrepl "0.21.1"]]
 :nrepl {:port 9000
         :middleware []}
 :dev-http {8080 "target/"}
 :builds {:app {:output-dir "target/"
                :asset-path "."
                :target :browser
                :modules {:main {:init-fn app.main/main!}}
                :devtools {:after-load app.main/reload!}}}}
